kestra/flows/research-heartbeat.yaml
id: research-heartbeat
namespace: rand

description: >-
  Manual or event-driven preset selection entrypoint. This flow does not own the
  schedule window itself; it only resolves a preset from runtime config when the
  caller does not provide one.

inputs:
  - id: preset
    type: STRING
    required: false
  - id: max_items
    type: INT
    required: false

variables:
  runtime_root: "{{ globals.rand_runtime_root | default('./research-runtime') }}"
  kestra_base_url: "{{ globals.kestra_base_url | default('http://localhost:8080') }}"

tasks:
  - id: select-preset
    type: io.kestra.plugin.scripts.python.Script
    outputFiles:
      - heartbeat_config.json
    script: |
      import json
      from datetime import datetime
      from pathlib import Path
      from zoneinfo import ZoneInfo

      config_path = Path(r"{{ vars.runtime_root }}") / "configs" / "heartbeat.json"
      with open(config_path, encoding="utf-8") as f:
          heartbeat = json.load(f)

      explicit_preset = "{{ inputs.preset | default('') }}"
      explicit_max_items = "{{ inputs.max_items | default('') }}"
      timezone_name = heartbeat.get("timezone", "Asia/Tokyo")
      now = datetime.now(ZoneInfo(timezone_name))
      hour = now.hour

      def select_preset(now_hour: int) -> str:
          for rule in heartbeat.get("rules", []):
              if now_hour in rule.get("hours", []):
                  return rule["preset"]
          return heartbeat.get("default_preset", "paper_arxiv_ai_recent")

      preset = explicit_preset or select_preset(hour)
      if explicit_max_items:
          max_items = int(explicit_max_items)
      else:
          max_items = 8 if preset == "paper_arxiv_ai_recent" else 12

      output = {
          "presets_to_run": [
              {
                  "preset": preset,
                  "reason": "manual_trigger" if explicit_preset else "heartbeat_rule",
                  "max_items": max_items,
              }
          ],
          "heartbeat_time": now.isoformat(),
          "timezone": timezone_name,
          "is_manual": True,
      }

      with open("{{ outputDir }}/heartbeat_config.json", "w", encoding="utf-8") as f:
          json.dump(output, f, ensure_ascii=False, indent=2)

      print(json.dumps(output, ensure_ascii=False))

  - id: run-research
    type: io.kestra.plugin.scripts.python.Script
    outputFiles:
      - research_results.json
      - reports/*.json
    script: |
      import json
      import os
      import subprocess
      import sys
      from pathlib import Path

      runtime_root = Path(r"{{ vars.runtime_root }}")
      output_dir = Path("{{ outputDir }}")
      reports_dir = output_dir / "reports"
      reports_dir.mkdir(parents=True, exist_ok=True)

      with open("{{ outputs.select-preset.outputFiles['heartbeat_config.json'] }}", encoding="utf-8") as f:
          config = json.load(f)

      presets_to_run = config.get("presets_to_run", [])
      results = []
      env = os.environ.copy()
      env["PYTHONPATH"] = str(runtime_root / "src")

      for preset_config in presets_to_run:
          preset = preset_config["preset"]
          max_items = preset_config.get("max_items", 8)
          cmd = [
              sys.executable,
              "-m",
              "rand_research.cli",
              "run-once",
              "--preset",
              preset,
              "--max-items",
              str(max_items),
          ]

          try:
              result = subprocess.run(
                  cmd,
                  cwd=runtime_root,
                  env=env,
                  capture_output=True,
                  text=True,
                  timeout=600,
              )
              if result.returncode == 0:
                  report = json.loads(result.stdout)
                  results.append({
                      "preset": preset,
                      "success": True,
                      "status": report.get("status"),
                      "collected_count": len(report.get("collected_items", [])),
                      "report": report,
                  })
                  (reports_dir / f"{preset}.json").write_text(
                      json.dumps(report, ensure_ascii=False, indent=2),
                      encoding="utf-8",
                  )
              else:
                  results.append({
                      "preset": preset,
                      "success": False,
                      "status": "failed",
                      "error": result.stderr,
                  })
          except subprocess.TimeoutExpired:
              results.append({
                  "preset": preset,
                  "success": False,
                  "status": "failed",
                  "error": "Timeout after 600 seconds",
              })
          except Exception as exc:
              results.append({
                  "preset": preset,
                  "success": False,
                  "status": "failed",
                  "error": str(exc),
              })

      with open(output_dir / "research_results.json", "w", encoding="utf-8") as f:
          json.dump(results, f, ensure_ascii=False, indent=2)

      print(f"Research completed: {len([r for r in results if r['success']])}/{len(results)} successful")

  - id: post-to-misskey
    type: io.kestra.plugin.scripts.http.Request
    uri: "{{ vars.kestra_base_url }}/api/v1/main/executions/webhook/pulse/notifier-resend/{{ secret('RAND_RESEARCH_WEBHOOK_KEY') }}"
    method: POST
    headers:
      Content-Type: application/json
    body: |
      {
        "event": "rand.heartbeat",
        "source": "research-heartbeat",
        "results": {{ outputs.run-research.outputFiles['research_results.json'] }},
        "timestamp": {{ outputs.select-preset.outputFiles['heartbeat_config.json'] | json(data='heartbeat_time') }}
      }

  - id: check-stuck-tasks
    type: io.kestra.plugin.scripts.python.Script
    outputFiles:
      - stuck_tasks.json
    script: |
      import json
      from datetime import datetime, timezone, timedelta
      from pathlib import Path

      runtime_root = Path(r"{{ vars.runtime_root }}")
      state_path = runtime_root / "state" / "taskstate.json"
      stuck_tasks = []

      if state_path.exists():
          with open(state_path, encoding="utf-8") as f:
              state = json.load(f)

          now = datetime.now(timezone.utc)
          stuck_threshold = now - timedelta(minutes=30)

          for task in state.get("tasks", []):
              if task.get("status") == "running":
                  updated_at = task.get("updated_at")
                  if updated_at:
                      try:
                          task_time = datetime.fromisoformat(updated_at.replace("Z", "+00:00"))
                          if task_time < stuck_threshold:
                              stuck_tasks.append({
                                  "task_id": task.get("run_id"),
                                  "preset": task.get("preset"),
                                  "status": task.get("status"),
                                  "updated_at": updated_at,
                              })
                      except Exception:
                          pass

      with open("{{ outputDir }}/stuck_tasks.json", "w", encoding="utf-8") as f:
          json.dump(stuck_tasks, f, ensure_ascii=False, indent=2)

      print(f"Found {len(stuck_tasks)} stuck tasks")

  - id: summary-log
    type: io.kestra.plugin.core.log.Log
    message: |
      RanD Heartbeat cycle completed:
      - Research results: {{ outputs.run-research.outputFiles['research_results.json'] }}
      - Stuck tasks: {{ outputs.check-stuck-tasks.outputFiles['stuck_tasks.json'] }}

errors:
  - id: error-handler
    type: io.kestra.plugin.core.log.Log
    message: |
      RanD Heartbeat encountered an error:
      - Task: {{ task.id }}
      - Message: {{ error.message }}
