kestra/flows/research-heartbeat.yaml
id: research-heartbeat
namespace: rand

description: >-
  Sample heartbeat flow for RanD. It auto-selects presets by time window, runs the
  runtime, and records a summary that can be handed to notifier flows.

triggers:
  - id: schedule-trigger
    type: io.kestra.plugin.core.trigger.Schedule
    cron: "*/5 * * * *"

variables:
  # Public sample defaults. Override these via Kestra globals per environment.
  runtime_root: "{{ globals.rand_runtime_root | default('./research-runtime') }}"
  kestra_base_url: "{{ globals.kestra_base_url | default('http://localhost:8080') }}"

tasks:
  - id: select-preset
    type: io.kestra.plugin.scripts.python.Script
    outputFiles:
      - heartbeat_config.json
    script: |
      import json
      from datetime import datetime, timezone

      now = datetime.now(timezone.utc)
      hour = now.hour
      minute = now.minute
      presets_to_run = []

      # Morning watch in JST (08:00-08:10 JST == 23:00-23:10 UTC previous day)
      if hour == 23 and 0 <= minute < 10:
          presets_to_run.append({
              "preset": "ai_watch_daily",
              "reason": "scheduled_morning_watch",
              "max_items": 12
          })

      # Night paper watch in JST (02:00-02:10 JST == 17:00-17:10 UTC)
      if hour == 17 and 0 <= minute < 10:
          presets_to_run.append({
              "preset": "paper_arxiv_ai_recent",
              "reason": "scheduled_night_papers",
              "max_items": 8
          })

      is_manual = "{{ trigger.type }}" != "io.kestra.plugin.core.trigger.Schedule"
      if is_manual:
          presets_to_run.append({
              "preset": "{{ trigger.body.preset | default('paper_arxiv_ai_recent') }}",
              "reason": "manual_trigger",
              "max_items": int("{{ trigger.body.max_items | default('5') }}")
          })

      output = {
          "presets_to_run": presets_to_run,
          "heartbeat_time": now.isoformat(),
          "is_manual": is_manual
      }

      with open("{{ outputDir }}/heartbeat_config.json", "w", encoding="utf-8") as f:
          json.dump(output, f, ensure_ascii=False, indent=2)

      print(f"Heartbeat config: {len(presets_to_run)} presets to run")

  - id: run-research
    type: io.kestra.plugin.scripts.python.Script
    outputFiles:
      - research_results.json
      - reports/*.json
    script: |
      import json
      import os
      import subprocess
      import sys
      from pathlib import Path

      runtime_root = Path(r"{{ vars.runtime_root }}")
      output_dir = Path("{{ outputDir }}")
      reports_dir = output_dir / "reports"
      reports_dir.mkdir(parents=True, exist_ok=True)

      with open("{{ outputs.select-preset.outputFiles['heartbeat_config.json'] }}", encoding="utf-8") as f:
          config = json.load(f)

      presets_to_run = config.get("presets_to_run", [])
      results = []
      env = os.environ.copy()
      env["PYTHONPATH"] = str(runtime_root / "src")

      for preset_config in presets_to_run:
          preset = preset_config["preset"]
          max_items = preset_config.get("max_items", 8)
          cmd = [
              sys.executable,
              "-m",
              "rand_research.cli",
              "run-once",
              "--preset",
              preset,
              "--max-items",
              str(max_items),
          ]

          try:
              result = subprocess.run(
                  cmd,
                  cwd=runtime_root,
                  env=env,
                  capture_output=True,
                  text=True,
                  timeout=600,
              )
              if result.returncode == 0:
                  report = json.loads(result.stdout)
                  results.append({
                      "preset": preset,
                      "success": True,
                      "status": report.get("status"),
                      "collected_count": len(report.get("collected_items", [])),
                      "report": report,
                  })
                  (reports_dir / f"{preset}.json").write_text(
                      json.dumps(report, ensure_ascii=False, indent=2),
                      encoding="utf-8",
                  )
              else:
                  results.append({
                      "preset": preset,
                      "success": False,
                      "status": "failed",
                      "error": result.stderr,
                  })
          except subprocess.TimeoutExpired:
              results.append({
                  "preset": preset,
                  "success": False,
                  "status": "failed",
                  "error": "Timeout after 600 seconds",
              })
          except Exception as exc:
              results.append({
                  "preset": preset,
                  "success": False,
                  "status": "failed",
                  "error": str(exc),
              })

      with open(output_dir / "research_results.json", "w", encoding="utf-8") as f:
          json.dump(results, f, ensure_ascii=False, indent=2)

      print(f"Research completed: {len([r for r in results if r['success']])}/{len(results)} successful")

  - id: post-to-misskey
    type: io.kestra.plugin.scripts.http.Request
    uri: "{{ vars.kestra_base_url }}/api/v1/main/executions/webhook/pulse/notifier-resend/{{ secret('RAND_RESEARCH_WEBHOOK_KEY') }}"
    method: POST
    headers:
      Content-Type: application/json
    body: |
      {
        "event": "rand.heartbeat",
        "source": "research-heartbeat",
        "results": {{ outputs.run-research.outputFiles['research_results.json'] }},
        "timestamp": {{ outputs.select-preset.outputFiles['heartbeat_config.json'] | json(data='heartbeat_time') }}
      }

  - id: check-stuck-tasks
    type: io.kestra.plugin.scripts.python.Script
    outputFiles:
      - stuck_tasks.json
    script: |
      import json
      from datetime import datetime, timezone, timedelta
      from pathlib import Path

      runtime_root = Path(r"{{ vars.runtime_root }}")
      state_path = runtime_root / "state" / "taskstate.json"
      stuck_tasks = []

      if state_path.exists():
          with open(state_path, encoding="utf-8") as f:
              state = json.load(f)

          now = datetime.now(timezone.utc)
          stuck_threshold = now - timedelta(minutes=30)

          for task in state.get("tasks", []):
              if task.get("status") == "running":
                  updated_at = task.get("updated_at")
                  if updated_at:
                      try:
                          task_time = datetime.fromisoformat(updated_at.replace("Z", "+00:00"))
                          if task_time < stuck_threshold:
                              stuck_tasks.append({
                                  "task_id": task.get("run_id"),
                                  "preset": task.get("preset"),
                                  "status": task.get("status"),
                                  "updated_at": updated_at,
                              })
                      except Exception:
                          pass

      with open("{{ outputDir }}/stuck_tasks.json", "w", encoding="utf-8") as f:
          json.dump(stuck_tasks, f, ensure_ascii=False, indent=2)

      print(f"Found {len(stuck_tasks)} stuck tasks")

  - id: summary-log
    type: io.kestra.plugin.core.log.Log
    message: |
      RanD Heartbeat cycle completed:
      - Research results: {{ outputs.run-research.outputFiles['research_results.json'] }}
      - Stuck tasks: {{ outputs.check-stuck-tasks.outputFiles['stuck_tasks.json'] }}

errors:
  - id: error-handler
    type: io.kestra.plugin.core.log.Log
    message: |
      RanD Heartbeat encountered an error:
      - Task: {{ task.id }}
      - Message: {{ error.message }}
